
header {
  color: black;
  background-color: white;
  z-index: 2000;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 1.25rem 2.5rem 1rem 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header a {
  font-family: 'Ovo', serif;
}

.navWrapper {
  display: none;
}

.home {
  display: block;
  grid-area: home;
}

.home a {
  color: black;
}

.menuButton {
  grid-area: menu;
  display: flex;
  justify-content: end;
  align-items: center;
  color: black;
}

.menuButton p{
  display: block;
  font-size: 20px;
}


@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
    grid-template-areas:
      "home menu";
      padding: 1.25rem 2.5rem 0.5rem 2.5rem;
  }
  .menuButton {
    display: none;
  }
  .navWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: menu;
  }
}

@media (min-width: 992px) {
  header {
    grid-template-columns: 150px 3fr 2fr;
    grid-template-areas:
      "home . menu";
  }
}
