.wrapper {
  display: block;
}

.langNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.langNav li {
  display: block;
  padding-left: 1.5em;
  color: black;
  list-style-type: none;
}
