.wrapper {
  display: block;
}

.langNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
}

.langNav li {
  display: block;
  color: black;
  list-style-type: none;
}

.langNav li:hover {
  color: darkgrey;
}

.zh {
  text-indent: 1.5em;
}

.active {
  text-decoration: underline;
}