.wrapper{
  display: block;
}
.mainNav {
  display: flex;
  flex-direction: column;
}

li {
  margin: 1rem 0.5em;
  display: block;
}

.mainNav a {
  color: black;
  padding: 1.5em;
}

@media (min-width: 768px){
  .mainNav {
    display: flex;
    flex-direction: row;
  }
}
