.wrapper{
  display: block;
}
.mainNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainNav li {
  display: block;
  padding: 1.5rem;
}

.mainNav a {
  color: black;
}

@media (min-width: 768px){
  .mainNav {
    display: flex;
    flex-direction: row;
  }
}
