.container {
  display: grid;
  grid-template-rows: 200px 300px;
  grid-template-areas:
    "intro"
    "startimage";
}

.intro {
  display: inline-block;
  grid-area: intro;
}

.intro p {
  font-size: 25px;
  text-align: center;
  opacity: 0;
  animation: fadein 3s ease-in  forwards;
}

@keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}

.cupoftea {
  display: inline-block;
  margin-left: 16%;
  max-width: 300px;
  grid-area: startimage;
  opacity: 0;
  animation: fadein 1.5s ease-in  1.25s forwards;
}


@media (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "startimage intro";
    padding-top: 10%;
  }
}
