.header {
  color: white;
  background-color: black;
  margin: 0;
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: 1fr 300px 2fr 1fr;
  grid-template-areas:
    "home . menu lang"
}

.home {
  display: block;
  grid-area: home;
}
