
* {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}
 li {
   list-style-type: none
 }

a {
  text-decoration: none;
}

main {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

h1, h2, h3 {
  font-family: 'Ovo', serif;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
