.project {
  max-width: 500px;
  margin: 1rem auto 2rem;
  padding: 1rem;
  text-align: center;
}

.project p {
  font-size: 17px;
}

.projectlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.project a {
  display: block;
  color: black;
}
